.vscode/**
.vscode-test/**
src/**
node_modules/**
esbuild.js
.gitignore
.prettierignore
.vscode-test.mjs
eslint.config.mjs
**/tsconfig.json
**/.eslintrc.json
**/*.ts
# Keep only the bundled extension files
out/**
!out/extension.js
!out/extension.js.map