.copperView {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.copper-scroll-container {
  flex: 1;
  overflow: auto;
  background-color: var(--vscode-editor-background);
}

.copper-canvas {
  position: absolute;
  cursor: default;
}
