.screen-geometry {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.geometry-canvas-container {
  margin-bottom: 10px;
}

.geometry-canvas {
  max-width: 100%;
  height: auto;
  border: 1px solid var(--vscode-widget-border);
}